<!DOCTYPE html>
<html>
<head>
  <title>Meetup</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Meetup</a>
        <form action="topics" class="navbar-search pull-left" method="post">
          <input type="text" name="search_term" class="search-query" placeholder="Search" value="<%= params[:search_term] %>">
        </form>
      </div>
    </div>
  </div>
  <div class="page container">
    <% yield_content :content %>
  </div>
  <% yield_content :javascript %>
</body>
</html>